.main {
  &__title {
    margin-bottom: 3rem;
  }
  &__item {
    margin-bottom: 2.5rem;
  }
  &__box {
    max-width: 32rem;
  }
  pre {
    background-color: black;
    padding: 1rem;
    code {
      color: white;

    }
  }
}