$size: var(--size, 1.8rem);
$color: var(--c-accent, deepskyblue);
$colorGray: var(--c-gray, darkgray);
$trackHeight: calc($size / 3.2);
$ff: inherit;
$fs: inherit;
$translateXFirst: translateX(calc(var(--o-first) * -1));
$translateXLast: translateX(calc(var(--o-last) * -1));

.slider-range {
  width: 100%;
  height: $size;

  display: flex;
  align-items: center;

  position: relative;

  &__title {
    display: flex;

    font-size: $fs;
    font-family: $ff;

    margin-bottom: calc($size / 3);
  }

  &__track {
    width: 100%;
    height: $trackHeight;

    display: inline-flex;
    align-items: center;

    background-color: var(--c-white, #fff);
    box-shadow: 0 0 $trackHeight 0rem $colorGray;
    border-radius: $trackHeight;
    overflow: hidden;

    position: absolute;
  }

  &__filler {
    width: var(--o-first);
    height: $trackHeight;

    background-color: $color;
    // border-radius: $size;

    position: absolute;
    left: 0;
  }

  &__knob {
    width: $size;
    height: $size;

    border-radius: $size;

    background-color: $color;
    pointer-events: none;
    
    position: absolute;
    z-index: 1;
    
    &._first {
      transform: $translateXFirst;
      left: var(--o-first);
    }
    &._last {
      transform: $translateXLast;
      left: var(--o-last);
    }

    &._active {
      &:after,
      &::before {
        content: "";
        position: absolute;
        border: calc($size / 9) solid $color;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        left: 50%;
        top: 50%;
      }

      &:after {
        width: 50%;
        height: 50%;
        background-color: var(--c-white, #fff);
        z-index: 5;
      }

      &::before {
        width: 100%;
        height: 100%;
        animation-name: wave;
        animation-duration: 1000ms;
        // animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }

    }
  }

  &__range {
    height: $size;
    
    opacity: 0;
    cursor: pointer;

    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
  }


  &._two & {
    &__filler {
      width: calc(var(--o-last) - var(--o-first));
      left: var(--o-first);
      right: var(--o-last);
    }
  }
  
}

@keyframes wave {
  0% {
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 120%;

    opacity: 0;
  }
}